.card{
    outline: 0px solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    margin-left: 41%;
    margin-right: 41%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    background-color: #f0f8ff;
}

.image {
    display: flex;
    justify-content: center;
    object-fit: cover;
    border-bottom: 1px solid rgb(255, 255, 255);
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    height: 27vh;
}

.content {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    height: 22vh;
    padding: 7px;
}

.head {
    color: #971700;
}

#post-heading{
    margin-top: 0;
    color: #000000;
}

p {
    color: rgba(0, 0, 0, 0.7);
    margin: 5px;
    padding: 5px;
}

.footer{
    display: flex;
    text-align: center;
    height: 8vh;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(204, 47, 8);
}

.foot-1{
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    width: 33%;
}

.foot-2{
    width: 33%;
}

.foot-3{
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    width: 33%;
}
